services:
  web:
    build:
      context: ..        # points to myapp2
      dockerfile: docker/Dockerfile
    container_name: yii_app
    ports:
      - "8080:80"
    volumes:
      - ../:/var/www/html
    networks:
      - yii-net

  db:
    image: mysql:5.7
    container_name: yii_db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: yii_db
      MYSQL_USER: yii_user
      MYSQL_PASSWORD: yii_pass
    ports:
      - "3306:3306"
    networks:
      - yii-net

networks:
  yii-net:
    driver: bridge
